<div class = "d-flex justify-content-center">
    <div class = "tab-content">
        <div class="text-center">
            <h1>Kara'Okey</h1>
            <p>canta tus canciones favoritas!</p>
        </div>
        
        <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
            
            <form #registerForm = "ngForm" (ngSubmit)="onRegister(badLogin, registerForm.value)" >

                <div class="form-outline mb-4">
                    <label class="form-label" for="registerName">Nombre</label>
                    <input type="text" id="registerName" class="form-control"
                    name="nombre" ngModel/>
                </div>


                <div class="form-outline mb-4">
                    <label class="form-label" for="registerEmail">Email</label>
                    <input type="email" id="registerEmail" class="form-control" 
                    name="email" ngModel/>
                    
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="registerPassword">Contraseña</label>
                    <input type="password" id="registerPassword" class="form-control" 
                    name="password" ngModel/>
                    
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="registerRepeatPassword">Repita la contraseña</label>
                    <input type="password" id="registerRepeatPassword" class="form-control" 
                    name="passwordConfirm" ngModel/>
                    
                </div>

                <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck"
                    aria-describedby="registerCheckHelpText" 
                    name="condiciones" ngModel/>
                    <label class="form-check-label" for="registerCheck">
                        Estoy de acuerdo con los terminos y condiciones.
                    </label>
                </div>
                <div class = "d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark btn-block mb-3">Crear cuenta</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #badLogin let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Información</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        Error al crear la cuenta, los campos no están completos.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Verifica')">Aceptar</button>
    </div>
</ng-template>