
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="text-center">
    <p>Guarda para después tus cancion favoritas!</p>
</div>

<div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-xs-6">
                    <h2>Lista <b>MyPlaylist</b></h2>
                </div>
                <div class="col-xs-6">
                    <a (click)="deleteTrack(deletemodal)" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar canción</span></a>
                    <a (click)="deleteTrack(addModal)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar canción</span></a>					
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            
            <thead>
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>Nombre</th>
                    <th>Artista</th>
                    <th>Albúm</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let row of canciones">
                <tr>
                    <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                            <label for="checkbox1"></label>
                        </span>
                    </td>
                    <td>{{row.nombre}}</td>
                    <td>{{row.artista}}</td>
                    <td>{{row.album}}</td>
                    <td>
                        <a  (click)="playTrack()"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe037;</i></a>
                        <a (click)="deleteTrack(deletemodal)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Mostrando <b>5</b> de <b>25</b> canciones.</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>
   
<ng-template #deletemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eliminar canción de mi playlist</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        La canción seleccionada se eliminará.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Eliminar</button>
    </div>
</ng-template>

<ng-template #addModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar a mi playlist</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="row gy-2 gx-3 d-flex justify-content-center">
            <div class="col-auto">
              <div class="form-outline">
                <input type="text" id="form11Example1" class="form-control" placeholder="busca una cancion"/>
                <label class="form-label" for="form11Example1"></label>
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">buscar</button>
            </div>
        </form>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Artista</th>
                    <th>Albúm</th>
                </tr>
            </thead>
            <tbody *ngFor="let row of canciones2">
                <tr>
                    <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                            <label for="checkbox1"></label>
                        </span>
                    </td>
                    <td>{{row.nombre}}</td>
                    <td>{{row.artista}}</td>
                    <td>{{row.album}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Agregar</button>
    </div>
</ng-template>

